.section {
    padding-top: 0;
}

.badge {
    font-weight: 400;
    font-size: 28px;
    color: var(--muted-text);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.card {
    // border is included in the image
    // border: 1px solid var(--border);
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}